/* selector */
body {
    /* property */
    background-color:yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* star debug */
.bg-blue{
    background-color: blue;
}
.bg-red{
    background-color: red;
}
/* end debug */

.container  {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* End Container */

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

/* Start Logo */
.Logo {
    text-align: center;
}
/* End Logo */

/* Start Menu Primer */
.menu-primer ul {
    background-colour: #333333;
    border-radius: 4px;
    box-shadow:
        0 3px 5px -1px  rgba(0,0,0,.2),  
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
}

.menu-primer Li {
    border-right: 1px solid #d1d5da;
    display:inLine-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: #f7f7f7;
    color: #000000;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
}    
/* End Menu Primer */

